blinker==1.8.2
click==8.1.7
Flask==3.0.3
future==1.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==3.0.2
MAVProxy==1.8.71
numpy==2.1.2
pymavlink==2.4.41
pynmeagps==1.0.43
pyserial==3.5
PyYAML==6.0.2
Werkzeug==3.0.6
